[package]
authors = ["Alexandre Bury <alexandre.bury@gmail.com>"]
name = "zstd-sys"
build = "build.rs"
version = "1.2.0"
description = "Low-level bindings for the zstd compression library."
keywords = ["zstd", "zstandard", "compression"]
categories = ["api-bindings", "compression"]
repository = "https://github.com/gyscos/zstd-rs"
license = "MIT/Apache-2.0"
readme = "Readme.md"

[build-dependencies]
bindgen = { version = "0.25", optional = true }
gcc = "0.3.45"
glob = "0.2.11"

[dependencies]
libc = "0.2.21"

[features]
default = ["legacy"]
legacy = []
