name: Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

    - name: Build with feature thin
      run: cargo build --verbose --features thin
    - name: Run tests
      run: cargo test --verbose --features thin

    - name: Build zstd-safe with feature seekable
      run: cargo build --manifest-path zstd-safe/Cargo.toml --verbose --features seekable
    - name: Run zstd-safe tests with feature seekable
      run: cargo test --manifest-path zstd-safe/Cargo.toml --verbose --features seekable
    - name: Build zstd-safe with features std and seekable
      run: cargo build --manifest-path zstd-safe/Cargo.toml --verbose --features std,seekable
    - name: Run zstd-safe tests with features std and seekable
      run: cargo test --manifest-path zstd-safe/Cargo.toml --verbose --features std,seekable
